* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 91px;
  background-color: #23180d;
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature {
  background-color: #2d2013;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;
}

.center {
  width: 1140px;
  height: 334px;
  color: #fff;
  display: flex;
}

.paypal {
  width: 152px;
  height: 40px;
  border-radius: 6px;
  background-color: yellow;
  color: red;
}

.paypal span {
  margin: 0px;
  color: blue;
}

.center img {
  width: 228px;
  height: 228px;
}

.underLine {
  border-bottom: 2px solid #333;
  /* Çizginin kalınlığı ve rengi */
  border-color: #fff;
  padding-bottom: 10px;
  /* Başlık ve çizgi arasındaki boşluk */
  margin-bottom: 20px;
  /* Diğer öğelerle mesafe */
}

.home {
  width: 64px;
  height: 34px;
  background-color: red;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.home:hover {
  transform: scale(1.1);
}

.api {
  width: 50px;
  height: 34px;
  margin: 0 28px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.api:hover {
  background-color: red;
  transition: background-color 0.7s;

}

.input {
  height: 34px;
  border-radius: 4px;
  padding-left: 10px;
}

.content {
  display: flex;
  /* Flexbox düzenini kullanır */
  flex-direction: column;
  /* Elemanları dikeyde sıralar */
  align-items: center;
}

.title {
  font-size: 35px;
}

.inputContainer {
  margin-top: 30px;
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-button {
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-right: none;
  background-color: #fff;
  color: black;
  bottom: 479.5px;
  right: 679px;

}

.divider {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.search-button:hover {
  background-color: #ccc;
}

.counters {
  margin: 20px 0;
}

.counters span {
  padding: 0 20px;
}

.text-primary {
  margin-bottom: 20px;
}

.title h4 {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #2d2013;
}

.mealContainer {
  padding-top: 40px;
  background-color: #2d2013;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 20px;
}

.mealSection {
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.mealItems {
  display: inline;

}

.mealSection img {
  width: 270px;
  height: 270px;
}

.mealSection p {
  color: orange;
}

.mealSection p:hover {
  color: rgb(255, 99, 42);
}

.mealSection button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.popularIngredientsButton {
  border: none;
  background-color: transparent;
}

.popularIngredientsButton:hover {
  color: orange;
}

.PopularIngredientsTitle {
  color: #fff;
  background-color: #2d2013;
  display: flex;
  justify-content: center;
}

.popularIngredients img {
  width: 270px;
  height: 270px;
}

.popularIngredients p {
  color: white;
}

.popularIngredients {
  margin-left: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.popularIngredient {
  display: flex;
  background-color: #2d2013;
  padding-top: 30px;
  color: orange;
  justify-content: center;
}

.popularIngredientsButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.popularIngredient :hover {
  color: rgb(255, 99, 42);
}

.RandomMealsTitle {
  display: flex;
  justify-content: center;
  background-color: #2d2013;
  color: #fff;
  padding-top: 20px;
}

.randomMeals {
  color: orange;
  padding-top: 40px;
  background-color: #2d2013;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.randomMeal img {
  width: 270px;
  height: 270px;
}

.randomMeal {
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.randomMealButton {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.randomMealButton:hover {
  color: darkorange;
}

.outerWrapper {
  background-color: #2d2013;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.outerWrapper h2 {
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.wrapper {
  background-color: #2d2013;
  margin-left: 20px;
}

.flags {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}